<!DOCTYPE html>
<html>
<head>
    <script src="https://statics.teams.microsoft.com/sdk/v1.0/js/MicrosoftTeams.min.js"></script>
</head>
<body>
    @RenderBody()
    @RenderSection("scripts", required: false)
</body>
</html>
