<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="GlobalTeam" value=""/>
    <add key="GlobalTaskLifeSpan" value="14"/>
    <add key="LogicApp_GetJoinedTeams" value=""/>
    <add key="LogicApp_ListPlans" value=""/>
    <add key="LogicApp_CreateTask" value=""/>
    <add key="LogicApp_DeleteTask" value=""/>
    <add key="LogicApp_ListPlanTasks" value=""/>
    <add key="LogicApp_ListBucketTasks" value=""/>
    <add key="LogicApp_ListBuckets" value=""/>
    <add key="LogicApp_GetTaskDetails" value=""/>
    <add key="ida:TenantId" value=""/>
    <add key="ida:ClientId" value=""/>
    <add key="ida:ClientCertThumbprint" value=""/>
    <add key="BaseSPSiteUrl" value=""/>
  </appSettings>
  <connectionStrings>
   <add name="AzureWebJobsStorage" connectionString=""/>
    <add name="AzureWebJobsDashboard" connectionString=""/>
  </connectionStrings>
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-5.6.4.0" newVersion="5.6.4.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>
