@*
    *   * Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license.
    *   * See LICENSE in the project root for license information.
*@

@{
    ViewBag.Title = "SignIn";
    Layout = "~/Views/Shared/_TeamsTabLayout.cshtml";

    var teamId = Request.Params["teamId"];

    var popUpAuthRedirectUri = Url.Action("SignInCallBack");
    var popUpAuthUrl = Url.Action("SignIn", "Account", new { redirectUri = popUpAuthRedirectUri }, protocol: Request.Url.Scheme);

    var embedAuthRedirectUri = Url.Action("SignInCallBack", new { embed = true });
    var embedAuthUrl = Url.Action("SignIn", "Account", new { redirectUri = embedAuthRedirectUri }, protocol: Request.Url.Scheme);

}

<p>Signing in ...</p>
<iframe src="@embedAuthUrl" style="display:none"></iframe>

@section scripts{
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script type="text/javascript">
        microsoftTeams.initialize();
        var popupSignInWindow = function () {
            microsoftTeams.getContext(function (context) {
                microsoftTeams.authentication.authenticate({
                    url: '@popUpAuthUrl' + '&loginHint=' + context.upn,
                    width: 600,
                    height: 480,
                    successCallback: function () {
                        window.location = '/?teamId=@teamId'
                    },
                    failureCallback: function () {
                        window.location = '/?teamId=@teamId'
                    }
                });
            });
        };

        var messageListener = function (evt) {
            if (evt.data == "SignInSuccessfully") {
                window.location = '/?teamId=@teamId'
            }
        };
        window.addEventListener("message", messageListener, false);

        setTimeout(popupSignInWindow, 3000)
    </script>
}
