@*
    *   * Copyright (c) Microsoft Corporation. All rights reserved. Licensed under the MIT license.
    *   * See LICENSE in the project root for license information.
*@

@{
    ViewBag.Title = "Error";
}

<div class="row">
    <div class="col-md-12">
        <p>Error: There is no teamId.</p>
    </div>
</div>